/* Generale */
button {
  border: 1px solid #aeaeae;
  border-radius: 3px;
  background: #ffffff;
}
button:hover {
  background: #FEF8DC;
  cursor: pointer;
}

#popup {
  width: 400px;
  font-family: 'Merriweather', serif;
}

#main-panel {
  padding: 10px;
}

#main-panel h2 {
  margin-top: 0;
}

#navigation-container {
  display: flex;
}

#main-panel .btn-category {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #aeaeae;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:80px;
}

#main-panel .btn-category:not(:last-child) {
  margin-right: 5px;
}

#main-panel .btn-category img {
  width: 100%;
}

#main-panel .btn-category span {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

#main-panel .btn-category:hover {
  cursor: pointer;
  background-color: #FEF8DC;
}

#content-panel .panel {
  display: none;
  padding: 10px;
}

#content-panel .panel.active {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

/* Panel-ul de membri */
#membership-buttons :not(:last-child) {
  margin-right: 5px;
}

#member-id {
  border-radius: 3px;
  border: 1px solid #aeaeae;
  padding: 3px 5px;
  width: 70px
}

#membership-buttons :not(:first-child) {
  flex-grow: 1;
}